*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000;
    color: #fff;

}
span{
    color: #58aee7;

}

.navi{
    display: flex;
    justify-content: center;
    padding-top: 30px;


}
ul li{
    display: inline-block;
    padding-right: 50px;
}
ul{
    margin-right: 105px;
}
.b-nav{
    display: flex;
    justify-content: space-between;
}
main{

    align-items: center;
    text-align: center;
    margin-top: 200px;
    border: 1px solid #fff;
    height: 50vh;
    padding-top: 25px;
    background-color: #1a1818;

}
h3{
    padding-right: 120px;
    color: #58aee7;
}
ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
ul li a:hover{
    color: #58aee7;
    font-size: 18px;
    border-bottom: 2px solid #58aee7;
}
h5{
    margin-bottom: 1.5rem;
    font-size: 26px;
}
h1{
    margin-bottom: 1.2rem;
    font-size: 70px;
    font-weight: bold;
    
}
h6{
    margin-bottom: 4rem;
    font-size: 17px;
}
main a{
    text-decoration: none;
    padding: 15px;
    border-radius: 7px;
    color: #fff;
    background-color: #58aee7;
    width: 70px;
    font-weight: bold;
    border: 1px solid #fff;     
}
main a:hover{
    background-color: #fff;
    color: black;
    border:1.3px solid #58aee7;
    font-weight: bold;
}